@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  background-color: #15b917;
  color: #fff;
  line-height: 1.6;
}

.container {
  width: 40%;
  margin: 0 auto;
}

.card {
  width: 40%;
  height: 60px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.card.cardsort {
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #c9127a;
  border-radius: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 2rem;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

input {
  height: 4rem;
  border: 3px solid #a9ed0a;
  width: 70%;
}

.taskcount {
  text-align: center;
  font-size: 3rem;
}

.mainbutton {
  background-color: rgb(32, 71, 101);
  border: 3px solid #000;
  padding: 0.7rem;
  font-size: 2rem;
  cursor: pointer;
}

.btn {
  border: 0;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.btn-done {
  background-color: rgb(235, 95, 20);
  margin-right: 1rem;
}

.lined {
  text-decoration: line-through;
  text-decoration-color: rgb(82, 26, 212) ;
  text-decoration-thickness: 15%;
}

.btn-delete {
  background-color: #c63333;
}